* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: rgb(19, 47, 63);
  --color-white: #FFFFFF;
  --color-black: #000000;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--color-white)
}

p {
  font-size: 22px;
}

.container {
  max-width: 1460px;
}

.bg-theme {
  background-color: var(--color-primary);
}

.navbar {
  position: sticky;
  top: 0;
  overflow-x: hidden;
}

.navbar-toggler-icon {
  filter: brightness(10);
}

.navbar::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-image: linear-gradient(to left, transparent, #5e5e5e, transparent);
  bottom: 0;
}

.navbar-brand img {
  width: 80px;
}

.navbar-toggler[aria-expanded="true"] {
  display: none;
}

.humburger {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.humburger span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #d3531a;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.humburger span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.humburger span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.humburger span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.humburger.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

.humburger.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.humburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}

.navbar .navbar-nav .nav-link {
  color: #fff;
  font-size: 1.1em;
  padding: 0.5em 1em;
}

@media screen and (min-width: 768px) {
  .navbar-brand img {
    width: 100px;
  }

  .navbar-brand {
    margin-right: 0;
    padding: 0 1em;
  }
}

.hero-section {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.098) 35%, rgb(0 0 0) 100%), url(../img/hero-bg.jpeg);
  background-size: initial;
  background-repeat: no-repeat;
}

.spaceY-xl {
  padding: 150px 0;
}

.hero-section .title {
  font-size: 52px;
  color: var(--color-white)
}

.btn.btn-xl {
  font-size: 22px;
  padding: 10px 36px;
  font-weight: bold;
  border-width: 4px;
  border-radius: 24px;
}

.btn.fix-w {
  min-width: 350px;
  text-align: center;
}

.hero-list-desc p,
.hero-list-desc li {
  font-size: 26px;
  color: var(--color-white);
  margin-bottom: 0;
}

.video-wrapper {
  background-image: linear-gradient(180deg, rgb(0, 0, 0) 45%, rgb(19, 47, 63) 100%);
}

.video-wrapper .img-bg {
  position: absolute;
  background-color: var(--color-black);
  width: calc(100% - 3%);
  height: calc(100% - 3%);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 92px;
}

.video-content {
  position: absolute;
  max-width: 1035px;
  width: calc(100% - 22%);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.about .title,
.faq .title,
.cta .title {
  font-size: 48px;
  color: var(--color-white);
}

.title-sm {
  font-size: 30px;
}

.about .desc {
  font-size: 26px;
}

.about .bg-shape-img {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 1100px;
  width: 70vw;
}

.about .bg-shape-img img {
  position: relative;
  right: -120px;
}

.basic ul li {
  font-size: 26px;
  font-weight: 600;
  background-color: rgb(19 47 63 / 85%);
  color: var(--color-white);
  padding: 30px;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 30px;
}

.basic-bg-img {
  position: absolute;
  background-image: url(../img/hill-shape.png);
  background-size: 170%;
  background-position: 68% 3%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  bottom: 0;
  -webkit-box-reflect: below 0px;
}

.btn-outline-light:hover {
  background-color: var(--color-white) !important;
}

.card.bg-theme {
  background-color: rgb(19 47 63 / 85%);
  border-radius: 26px;
}

.accordion-button,
.accordion-button:not(.collapsed) {
  font-size: 24px;
  font-weight: 600;
  background-color: rgb(19 47 63);
  color: var(--color-white);
  padding: 30px;
  box-shadow: unset;
}

.accordion-flush>.accordion-item {
  border-radius: 20px;
  overflow: hidden;
}

.accordion-button::after {
  filter: grayscale(1) brightness(10);
  width: 30px;
  height: 30px;
  background-size: contain;
  margin-left: 30px;
}

.accordion-body {
  font-size: 24px;
  text-align: center;
  color: var(--color-white);
  padding-bottom: 30px;
}

.cta p {
  font-size: 26px;
  text-align: center;
  color: var(--color-white);
  font-weight: 600;
}

footer p {
  font-size: 24px;
  text-align: center;
  color: var(--color-black);
  font-weight: 600;
}



@media screen and (max-width: 1500px) {
  .container {
    max-width: 95%;
  }

}

@media screen and (max-width: 1200px) {
  .basic-bg-img {
    background-size: cover;
  }

  .spaceY-xl {
    padding: 100px 0;
  }

  .basic ul li {
    font-size: 24px;
  }
}

@media screen and (max-width: 991px) {
  .about .bg-shape-img {
    position: relative;
    right: unset;
    bottom: unset;
    width: 90%;
    margin: 0 auto 80px;
  }

  .about .bg-shape-img::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background-image: linear-gradient(to left, transparent, #ffffff, transparent);
    bottom: 0;
    left: 0;
  }

  .about .bg-shape-img img {
    right: unset;
  }

  .about .title,
  .faq .title,
  .cta .title {
    font-size: 46px;
  }

  .accordion-button,
  .accordion-button:not(.collapsed),
  .basic ul li {
    padding: 22px;
  }

  footer p {
    font-size: 20px;
  }

  .accordion-body {
    font-size: 22px;
  }
}

@media screen and (max-width: 768px) {
  .hero-section .title {
    font-size: 48px;
  }

  .about .title,
  .faq .title,
  .cta .title {
    font-size: 44px;
  }

  .title-sm {
    font-size: 26px;
  }

  .hero-list-desc p,
  .hero-list-desc li {
    font-size: 22px;
  }

  .cta p {
    font-size: 20px;
  }

  .about .desc {
    font-size: 20px;
  }

  .btn.btn-xl {
    font-size: 20px;
  }

  .basic-bg-img {
    background-position: 75% 0%;
  }
}

@media screen and (max-width: 590px) {
  .hero-section .title {
    font-size: 40px;
  }

  .spaceY-xl {
    padding: 80px 0;
  }

  .about .title,
  .faq .title,
  .cta .title {
    font-size: 36px;
  }

  .hero-list-desc p,
  .hero-list-desc li {
    font-size: 20px;
  }

  .about .bg-shape-img {
    width: 100%;
    margin: 0 auto 50px;
  }

  p {
    font-size: 20px;
  }

  .basic ul li {
    font-size: 20px;
  }

  .accordion-button,
  .accordion-button:not(.collapsed),
  .basic ul li {
    font-size: 20px;
    justify-content: flex-start !important;
  }

  .accordion-button::after {
    margin-left: auto;
    width: 20px;
    height: 20px;
  }

  .btn.fix-w {
    min-width: auto;
  }
    .title-sm {
      font-size: 24px;
    }
}

@media screen and (max-width: 470px) {
  .hero-section .title {
    font-size: 30px;
  }

  .btn.btn-xl {
    font-size: 18px;
    border-width: 2px;
  }

  .about .title,
  .faq .title,
  .cta .title {
    font-size: 32px;
  }

}